.main {
    background-image: url(mpbgpng.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
}

nav {
    width: 100%;
    height: 50px;
    background-color:  rgba(245, 245, 245);
    position: fixed;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 999;
}

nav a{
    text-decoration: none;
    padding: 12px 20px;
    font-size: 19px;
    color: #1A1A1A;
    font-family: Poppins;
    font-weight: 500;
}

nav a:hover {
    color: rgb(72, 72, 235);
}

.hero-card {
    background: rgba(0, 0, 0, 0.2);
    width: 96%;
    text-align: left;
    justify-content: center;
    padding: 200px 30px;
    align-items: center;
    line-height: -200px;
}

.hero-card h2 {
    font-size: 70px;
    font-family: 'Parisienne', cursive;
    font-weight: 900;
    color: #150d0d;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #1e0a0a;
}

.hero-card p {
    font-size: 30px;
    font-family: 'Allura', cursive;
    color: #ffffff;
    margin-top: 0;
    text-shadow: 1px 1px 2px #3b2222;
}

#visit {
    width: 180px;
    height: 40px;
    border: 4px solid #C7B5A6;
    margin-left: 50px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: poppins;
}

#visit {
    background-color: #8b5e3c;
}
#visit:hover {
    background-color: #a57149;
}

.container {
    display: flex;
    background-color: #f5f0e6;
    color: #000000;
    width: 100%;
    justify-content: center;
}

.container p {
     width: 500px;
     text-align: center;
     font-family: poppins;
     font-size: 18px;
     padding: 100px;
}

img {
    width: 450px;
    height: auto;
    margin: 50px;
    border: none;
    border-radius: 50px;
}

.footer {
    background-color: #222;
    color: #eee;
    padding:40px;
}

.footer-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
      max-width: 1200px;
      margin: auto;
}

.footer-section p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-section h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffd700;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    font-size: 16px;
    color: #ccc;
}

.footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    color: #424242;
}

.footer-section ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    list-style: none;
    line-height: 1.6;
}

.footer-section li {
      margin-bottom: 5px;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    margin-top: 2px;
    border: 1px solid #282727;
    border-radius: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#subscribe {
    background-color: #ffd700;
    color: #000000;
    font-family:Poppins;
    font-size: 15px;
    width: 110%;
}

.footer-bottom p {
    border-top: 1px solid #444;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 13px;
}

.login-page {
  background-image: url(hbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: poppins;
}

.auth-container {
      background-color: rgb(245, 232, 220, 0.8);
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
      width: 80%;
      max-width: 400px;
    }

    .auth-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #5b3a29;
    }

    .auth-container input {
      width: 95%;
      padding: 12px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .auth-container button {
      width: 102%;
      height: 40px;
      font-family: poppins;
      font-size: 18px;
      background-color: #924030;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
    }

    .auth-container button:hover {
      background-color: #9E4834;
    }

    .toggle {
      text-align: center;
      margin-top: 15px;
    }

.toggle a {
    color:#9E4834;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.menu-page {
    background-color: #fff8f0;
    background-size: contain;
    height: 100%;
    margin: 0;
}

.menu-section {
    padding: 60px;
    max-width: 600px;
    margin: auto;
}

.category {
    margin-top: 40px;
}

ul {
    list-style: none;
    font-family: poppins;
}

#li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0d6cc;
}

.category h2 {
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0d6cc;
    padding-bottom: 5px;
    font-family: poppins;
    color: #8b5e3c;
}

.menu-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: poppins;
    color: #5b3a29;
}

.menu-download {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

#menu-download {
    background-color: #8b5e3c;
    color: #f5f0e6;
    font-size: 18px;
    border: none;
    justify-content: center;
    width: 250px;
    border-radius: 5px;
    font-family: poppins;
}

#menu-download:hover {
    background-color: #a57149;
}

.gallery-page {
    background-color: #ffebdb;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.gallry-container {
    display: grid;
    max-width: 800px;
    height: auto;
    align-items: center;
    
}

.gallery-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 0;
  padding: 10px;
  margin: 10px;
}

.gallery-container img {
    flex: 0 0 auto;
      width: 250px;
      height: 300px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s;
      scroll-snap-align: start;
}

.gallery-container img:hover {
      transform: scale(1.05);
}